### **Exercise: Recapping built-in functions**

Let `x = 4.9`

* Assign `str(x)` to a variable `y1`: `y1 = str(x)`
* Assign `print(x)` to a variable `y2`: `y2 = print(x)`
* Check the types of the variables `x`, `y1`, and `y2`.
* What are the types of `x`, `y1`, and `y2`?

# **Writing your own function**

Builtin functions are not enough.

In [ ]:
def your_function(): # must have :
    do something
    return something # optional

## **Variables in function**

Let's write a function that raise the power of two to a number

In [ ]:
def square(x):
    return x**2

square(3)

In [ ]:
# You can prompt your input

square(float(input()))

### **Exercise: Consumer surplus function of linear demand**

* Look at the picture

![image.png]()
* We need to find the area of triangle.
  - We need the functional form of demand, i.e., $P = a - bP$
  - We need equilibrium price and quantity
  - Write a function that return consumer surplus with the name `CS`

### **Exercise: Write a simple function**

Recall that the function body is indented <u>4 spaces</u> already for you. Function bodies need to be indented by a consistent number of spaces and the choice of 4 is common.

* Write a function with the name of the function `shout`.
* Variable must be named `word`
* In the function body, concatenate the string of your word with another string, `'!!!'`
* Return the output
* Call the function shout(str(input())) to shout the string of your word.

# **2 or more variables functions**

For example, instead of square, we want to write a function named `power`.
* You need 2 variables, the base and the power.
* Do it!

* Write a function that returns two outputs, e.g., `base^power` and `power^base`

### **Exercise: shout multiple words**

* Write a function named `shout` such that it accepts two parameters, `word1` and `word2`, in that order.
* Inside a function body, concatenate each of `word1` and `word2` with `'!!!'` and assign to `shout1` and `shout2`, respectively.
* Concatenate shout1 and shout2 together, in that order, and assign to `new_shout`.
* Prompt the input for word1 and word 2 and display the result of this function.

In [ ]:
word1 = str(input())
word2 = str(input())

### **Exercise: Using functions in pandas**

* Import the pandas package with the alias `pd`.
- Import the file `'tweets.csv'` using the pandas function `read_csv()`. Assign the resulting DataFrame to `df`.
* Initialize an empty dictionary: `langs_count`

- Complete the `for` loop by iterating over `col`, the `'lang'` column in the DataFrame `df`.
- Complete the bodies of the if-else statements in the for loop:
  - if the key is in the dictionary `langs_count`, add `1` to the value corresponding to this key in the dictionary,
  - else add the key to `langs_count` and set the corresponding value to `1.` Use the loop variable `entry` in your code.

In [ ]:
# Import pandas


# Import Twitter data as DataFrame: df
df = ____

# Initialize an empty dictionary: langs_count


# Iterate over 'lang' column in DataFrame
for entry in ____:

    # If the language is in langs_count, add 1
    if entry in langs_count.keys():
        ____
    # Else add the language to langs_count, set the value to 1
    else:
        ____

# Print the populated dictionary
print(langs_count)

### **Exercise: Using functions in pandas(2)**

* Define the function `count_entries()`, which has two parameters. The first parameter is `df` for the DataFrame and the second is `col_name` for the column name.

* Complete the bodies of the `if-else` statements in the `for` loop:

  - if the key is in the dictionary `langs_count`, add 1 to its current value, - else add the key to `langs_count` and set its value to 1. Use the loop variable `entry` in your code.

- Return the `langs_count` dictionary from inside the `count_entries()` function.

- Call the `count_entries()` function by passing to it `df` and the name of the column, `'lang'`. Assign the result of the call to the variable `result`.

In [ ]:
# Define count_entries()
def ____(____, ____):
    """Return a dictionary with counts of
    occurrences as value for each key."""

    # Initialize an empty dictionary: langs_count
    langs_count = {}

    # Extract column from DataFrame: col
    col = df[col_name]

    # Iterate over lang column in DataFrame
    for entry in col:

        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            ____
        # Else add the language to langs_count, set the value to 1
        else:
            ____

    # Return the langs_count dictionary


# Call count_entries(): result


# Print the result
print(result)

# **Scope**

In [ ]:
new_val = 10

def square(value):
    new_value2 = new_val ** 2
    return new_value2

print(square(3))
print(new_val)

To change the global variable, need to use **`global`** statement.

In [ ]:
new_val = 10

def square(value):
    global new_val
    new_val = new_val ** 2
    return new_val

print(square(3))
print(new_val)

### **Exercise: understanding scope**

Try figuring this out before executing the code.

- What are the values printed out when you call `func1()` and `func2()`?
- What is the value of `num` in the global scope after calling `func1()` and `func2()`?

In [ ]:
num = 5

def func1():
    num = 3
    print(num)

def func2():
    global num
    double_num = num * 2
    num = 6
    print(double_num)

In [ ]:
import builtins
dir(builtins)

# **Default and Flexible Arguments**

## **Adding default arguments**

In [ ]:
def power(number, pow=1):
    """Raise number to the power of pow."""
    new_value = number ** pow
    return new_value

print(power(9, 2))
print(power(9))

## **Flexible Arguments: `*args`**

Use when we are not sure how many arguments a user will want to pass

In [ ]:
def add_all(*args):
    """Sum all values in *args together."""

    # Initialize sum
    sum_all = 0

    # Accumulate the sum
    for num in args:
        sum_all += num

    return sum_all

print(add_all(2))
print(add_all(1, 2))
print(add_all(1, 2, 3, 4))

## **Flexible keyword arguments**: `**kwargs`

- `**kwargs` turns the keyword pairs into a dictionary in a function.

In [ ]:
def func(**kwargs):
    print(kwargs)

func(name="dumbledore", job="headmaster")

In [ ]:
def print_all(**kwargs):
    """Print out key-value pairs in **kwargs."""

    # Print out the key-value pairs
    for key, value in kwargs.items():
        print(key + ": " + value)

print_all(name="dumbledore", job="headmaster")

### **Functions with one default argument**

Write a function that uses a default argument and then calling the function a couple of times.

### **Instructions**

- Complete the function header with the function name `shout_echo`. It accepts an argument `word1` and a default argument `echo` with default value `1`, in that order.

- Use the `*` operator to concatenate `echo` copies of `word1`. Assign the result to `echo_word`.

- Call `shout_echo()` with just the string, `"Hey"`. Assign the result to `no_echo`.

- Call `shout_echo()` with the string `"Hey"` and the value `5` for the default argument, `echo`. Assign the result to `with_echo`.

In [ ]:
def

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = ____

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo() with "Hey": no_echo
no_echo = ____

# Call shout_echo() with "Hey" and echo=5: with_echo
with_echo = ____

# Print no_echo and with_echo
print(no_echo)
print(with_echo)

### **Instructions**

- Complete the function header with the function name `shout_echo`. It accepts an argument `word1`, a default argument `echo` with default value `1` and a default argument `intense` with default value `False`, in that order.

- In the body of the **`if`** statement, make the string object `echo_word` upper case by applying the method **`.upper()`** on it.

- Call `shout_echo()` with the string, `"Hey"`, the value `5` for `echo` and the value `True` for `intense`. Assign the result to `with_big_echo`.

- Call `shout_echo()` with the string `"Hey"` and the value `True` for `intense`. Assign the result to `big_no_echo`.

In [ ]:
# Define shout_echo
def ____(____, ____, ____):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Make echo_word uppercase if intense is True
    if intense is True:
        # Make uppercase and concatenate '!!!': echo_word_new
        echo_word_new = ____ + '!!!'
    else:
        # Concatenate '!!!' to echo_word: echo_word_new
        echo_word_new = echo_word + '!!!'

    # Return echo_word_new
    return echo_word_new

# Call shout_echo() with "Hey", echo=5 and intense=True: with_big_echo
with_big_echo = ____

# Call shout_echo() with "Hey" and intense=True: big_no_echo
big_no_echo = ____

# Print values
print(with_big_echo)
print(big_no_echo)

### **Functions with variable-length arguments (*args)**


- Complete the function header with the function name `gibberish`. It accepts a single flexible argument `*args`.

- Initialize a variable `hodgepodge` to an empty string.

- Return the variable `hodgepodge` at the end of the function body.

- Call `gibberish()` with the single string of your choice. Assign the result to `one_word`.

- Call `gibberish()` with multiple arguments and to print the value.

In [ ]:
# Define gibberish
def ____(____):
    """Concatenate strings in *args together."""

    # Initialize an empty string: hodgepodge


    # Concatenate the strings in args
    for word in args:
        hodgepodge += word

    # Return hodgepodge
    ____

# Call gibberish() with one string of your choice and assign it to one_word
one_word = ____

# Call gibberish() with any number of strings: many_words
many_words = gibberish()

# Print one_word and many_words
print(one_word)
print(many_words)

# **Lambda Functions**

- **`lambda`**
- arguments
- **`:`**
- value to return

In [ ]:
raise_to_power = lambda x, y: x ** y

raise_to_power(2, 3)

In [ ]:
upper = lambda s: s.upper()
upper('merde')

## **Writing lambda functions along with map()**

- Functions `map` takes 2 arguments: `map(func, sequence)`
- Apply `func` to all elements in `sequence`

In [ ]:
nums = [1, 2, 3, 4, 5]
square_all = map(lambda num: num ** 2, nums)

print(square_all, "\n")
print(list(square_all))

### **Writing lambda functions**

Practice writing a simple lambda function and calling this function. Recall what you know about lambda functions and answer the following questions:

- How would you write a lambda function `add_bangs` that adds three exclamation points `'!!!'` to the end of a string `a`?

- How would you call `add_bangs` with the argument `'hello'`?

In [ ]:
add_bangs =

### **Writing a lambda function you already know**


```
def echo_word(word1, echo):
    """Concatenate echo copies of word1."""
    words = word1 * echo
    return words
```



- Define the lambda function `echo_word` using the variables `word1` and `echo`. Replicate what the original function definition for `echo_word()` does above.

- Call `echo_word()` with the string argument `'hey'` and the value `5`, in that order. Assign the call to `result`.

In [ ]:
# Define echo_word as a lambda function: echo_word
echo_word =

# Call echo_word: result
result =

# Print result
print(result)

### **Important exercise: Map() and lambda functions**

```
nums = [2, 4, 6, 8, 10]

result = map(lambda a: a ** 2, nums)
```

- In the **`map()`** call, pass a lambda function that capitalize the string  to a string `item`; also pass the list of strings, `capitals`. Assign the resulting map object to `Capital`.

- Convert `Capital` to a list and print out the list.

In [ ]:
### Map and lambda

# Create a list of strings: spells
capitals = ["bangkok", "tokyo", "london", "canberra"]

# Use map() to apply a lambda function over spells: shout_spells
Capital = map(lambda item: item.capitalize(), capitals)

# Convert shout_spells to a list: shout_spells_list
list(Capital)

### **Important exercise: Filter() and lambda functions**

The function **`filter()`** offers a way to filter out elements from a list <u>that don't satisfy certain criteria</u>.

Your goal in this exercise is to use **`filter()`** to create, from an input list of strings, a new list that contains only strings that have more than 6 characters.

- In the **`filter()`** call, pass a lambda function and the list of strings, `fellowship`. The lambda function should check if the number of characters in a string member is greater than `6`; use the **`len()`** function to do this.

- Assign the resulting filter object to `result`.

- Convert `result` to a list and print out the list.

In [ ]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# Use filter() to apply a lambda function over fellowship: result
____ = filter(____, ____)

# Convert result to a list: result_list
____

# Print result_list
print(result_list)

### **Reduce() and lambda functions**

The **`reduce()`** function is useful for performing some computation on a list and, unlike **`map()`** and **`filter()`**, returns a single value as a result. To use **`reduce()`**, you must import it from the **`functools`** module.

Remember `gibberish()` from a few exercises back?

```
# Define gibberish
def gibberish(*args):
    """Concatenate strings in *args together."""
    hodgepodge = ''
    for word in args:
        hodgepodge += word
    return hodgepodge
```

`gibberish()` simply takes a list of strings as an argument and returns, as a single-value result, the concatenation of all of these strings. In this exercise, you will replicate this functionality by using **`reduce()`** and a lambda function that concatenates strings together.


- Import the **`reduce`** function from the **`functools`** module.

- In the **`reduce()`** call, pass a lambda function that takes two string arguments `item1` and `item2` and concatenates them; also pass the list of strings, `stark`.

- Assign the result to `result`. The first argument to **`reduce()`** should be the lambda function and the second argument is the list `stark`.

In [ ]:
# Import reduce from functools


# Create a list of strings: stark
stark = ['robb', 'sansa', 'arya', 'brandon', 'rickon']

# Use reduce() to apply a lambda function over stark: result
result = reduce(____, ____)

# Print the result
print(result)

This should be minimally enough to go through data problems.